<% @posts.each do |post| %>
	<div class="modal fade" id="post-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="post-<%= post.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="post-<%= post.id %>"><%= post.title %>
          <a class="close" data-dismiss="modal">X</a>
          </h4>
        </div>
        <div class="modal-body">
          <%= simple_format post.body %>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary"><%= link_to "See full post", post %></button>
        </div>
      </div>
    </div>
  </div>

	<div class="post_wrapper">
		<h1 class="title" data-toggle="modal" data-target="#post-<%= post.id %>">
			<span style="cursor:pointer"><%= post.title %></span>
			<!-- <a><%= post.title %></a> -->
		</h1>
		<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
		<%= render_shareable :url=> "#{request.original_url}posts/#{post.id}", :buttons=> ['twitter', 'facebook', 'linkedin', 'google_plus'], :facebook=> {:send=> 'true', :url=> "#{request.original_url}posts/#{post.id}"} %>
	</div>
<% end %>


