<div id="post_content">

	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago
	</p>

<% if @post.image.exists? %>
	<%= image_tag @post.image.url(:medium) %>
<% end %>
	<p class= "text-justify">
		<%= simple_format @post.body %>
	</p>

<% if user_signed_in? and current_user.email == 'oceane.fievet@gmail.com' %>
	<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-primary' %>
	<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
<% end %>
<%= render @post.comments %>
<% if user_signed_in? %>
		<%= render 'comments/form' %>
<% end %>

</div>

